In [1]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
import plotly.graph_objects as go
import re

In [2]:
pd.__version__

'1.2.4'

In [3]:
# !conda install plotly

In [4]:
for i in tqdm(range(100)):
    pass

  0%|          | 0/100 [00:00<?, ?it/s]

In [5]:
df_necessity = pd.concat([
    pd.read_csv('../datas/huge/생필품 농수축산물 가격 정보(2020년).csv', encoding='cp949'),
    pd.read_csv('../datas/huge/생필품 농수축산물 가격 정보(2019년).csv', encoding='cp949'),
    pd.read_csv('../datas/huge/생필품 농수축산물 가격 정보(2018년).csv', encoding='cp949'),
    pd.read_csv('../datas/huge/생필품 농수축산물 가격 정보(2013년_2017년).csv', encoding='cp949')
])
df_population = pd.read_csv('../datas/huge/서울시 우리마을가게 상권분석서비스(상권-생활인구).csv', encoding='cp949')
df_sales = pd.concat([
    pd.read_csv('../datas/huge/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019.csv', encoding='cp949'),
    pd.read_csv('../datas/huge/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2018.csv', encoding='cp949'),
    pd.read_csv('../datas/huge/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2017.csv', encoding='cp949'),
    pd.read_csv('../datas/huge/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2016.csv', encoding='cp949'),
    pd.read_csv('../datas/huge/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2015.csv', encoding='cp949'),
    pd.read_csv('../datas/huge/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2014.csv', encoding='cp949')
])
df_market_address = pd.read_csv('../datas/서울 전통시장 주소.csv', encoding='cp949')
df_supermarket_address = pd.read_csv('../datas/서울 대형마트 주소.csv', encoding='cp949')

### 각 데이터 샘플

In [6]:
df_necessity.head()

,일련번호,시장/마트 번호,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),년도-월,비고,시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,자치구 코드,자치구 이름,점검일자
0,1621162,1,통인시장,309,양파(1.5kg망),1kg,2000,2020-12,"국내산,무안",1,전통시장,110000,종로구,2020-12-21
1,1628949,228,방배종합시장,277,호박,1개268g,1500,2020-12,국내산/인큐베이터,1,전통시장,650000,서초구,2020-12-21
2,1626799,51,NC백화점 불광점,18,닭고기,1마리(1kg),8990,2020-12,올품 토종,2,대형마트,380000,은평구,2020-12-21
3,1630920,223,홈플러스 목동점,278,쇠고기,600g,35982,2020-12,국내산(음성)농협,2,대형마트,470000,양천구,2020-12-21
4,1622882,1,통인시장,309,양파(1.5kg망),1kg,2000,2020-12,"국내산,무안",1,전통시장,110000,종로구,2020-12-21

In [7]:
df_sales.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2019,1,A,골목상권,1000985,암사길,CS200003,예술학원,20061598,125,...,0,93,32,0,0,32,93,0,0,3
1,2019,1,A,골목상권,1000267,돌곶이로8길,CS200037,노래방,510636,21,...,8,4,17,0,0,0,9,4,8,1
2,2019,1,R,전통시장,1001445,영도시장,CS300027,섬유제품,4038928,33,...,0,17,0,0,0,17,0,0,0,2
3,2019,1,A,골목상권,1000789,난곡로24길,CS300017,시계및귀금속,5085873,10,...,0,5,5,0,0,0,5,0,5,1
4,2019,1,A,골목상권,1000930,언주로81길,CS200001,일반교습학원,527027,53,...,53,53,0,0,0,0,0,53,0,3

In [8]:
df_population.head()

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_토요일시간대_3_생활인구_수,여성연령대_60_이상_토요일시간대_4_생활인구_수,여성연령대_60_이상_토요일시간대_5_생활인구_수,여성연령대_60_이상_토요일시간대_6_생활인구_수,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수
0,2020,4,U,관광특구,1001496,강남 마이스 관광특구,90836,46313,44523,4351,...,142,140,123,39,48,99,124,123,104,35
1,2020,4,U,관광특구,1001495,잠실 관광특구,2956754,1445027,1511727,248574,...,5398,5785,7033,3989,7009,6350,5041,5460,6552,3868
2,2020,4,U,관광특구,1001494,종로?청계 관광특구,3738997,2060445,1678551,96484,...,10547,10296,7883,3577,5160,6020,6495,6618,6352,3992
3,2020,4,U,관광특구,1001493,동대문패션타운 관광특구,3058361,1494579,1563782,99823,...,5674,5149,4481,2629,4734,4903,4273,4182,5044,4354
4,2020,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3569497,1853999,1715498,81863,...,9552,8998,4532,1217,1672,3462,4677,4407,3001,1164

In [9]:
df_market_address.head()

   자치구 코드 자치구명           전통시장명          주소명         위도          경도
0      22  은평구            갈현시장   갈현동 424-16  37.623587  126.917385
1      12  동작구            강남시장      상도동 488  37.518749  127.020640
2       1  강남구            강남시장    신사동510-11  37.496746  126.953488
3       1  강남구       강남역 지하도상가     역삼동821-1  37.498595  127.028026
4      15  서초구  강남터미널지하도상점가1구역  서초구 반포동 163  37.500478  126.986060

### 대형마트에 대한 정보도 유동인구, 매출 데이터에 있을까?
- 역에 있는 대형마트는 역에 있는 정보를 사용할 수 있지만, 역 유동인구 = 대형마트 유동인구는 지나친 확대해석이다
- 역에 없는 대형마트는 검색해도 안나온다

In [10]:
df_population[df_population['상권_코드_명'].str.contains('불광')]

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_토요일시간대_3_생활인구_수,여성연령대_60_이상_토요일시간대_4_생활인구_수,여성연령대_60_이상_토요일시간대_5_생활인구_수,여성연령대_60_이상_토요일시간대_6_생활인구_수,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수
245,2020,4,D,발달상권,1001250,서울 은평구 불광역_3,404002,180468,223534,29165,...,932,858,934,1242,2419,1661,639,577,734,1065
246,2020,4,D,발달상권,1001249,서울 은평구 불광역_2,524727,234024,290703,44675,...,2302,2697,3573,1569,1544,2020,2118,2578,3312,1487
247,2020,4,D,발달상권,1001248,서울 은평구 불광역_1,288839,132906,155933,20523,...,1082,1211,1616,768,854,1056,1010,1165,1497,713
1101,2020,4,A,골목상권,1000394,불광천길,1297473,586444,711030,172406,...,3035,2884,3790,4113,7923,6029,2967,2729,3911,4087
1740,2020,3,D,발달상권,1001250,서울 은평구 불광역_3,417210,185575,231636,30876,...,1022,897,980,1287,2442,1725,683,610,782,1093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39046,2014,2,D,발달상권,1001248,서울 은평구 불광역_1,557811,260771,297042,30269,...,984,860,1085,279,2,507,679,749,931,194
39898,2014,2,A,골목상권,1000394,불광천길,443065,209485,233583,29359,...,724,603,856,197,0,280,477,493,712,97
40531,2014,1,D,발달상권,1001249,서울 은평구 불광역_2,323435,151877,171558,13881,...,675,608,598,104,0,198,342,402,417,66
40532,2014,1,D,발달상권,1001248,서울 은평구 불광역_1,640888,296320,344566,38251,...,1355,1282,1379,336,0,530,879,1015,1133,234
41384,2014,1,A,골목상권,1000394,불광천길,391892,190393,201501,24570,...,840,714,798,120,0,159,401,433,521,63

In [11]:
df_sales[df_sales['상권_코드_명'].str.contains('불광')]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
332,2019,1,D,발달상권,1001248,서울 은평구 불광역_1,CS200028,미용실,35404780,1116,...,0,456,660,0,20,729,312,15,40,1
492,2019,1,A,골목상권,1000394,불광천길,CS300025,자전거 및 기타운송장비,180225463,798,...,0,499,299,0,133,300,166,166,33,0
743,2019,1,D,발달상권,1001249,서울 은평구 불광역_2,CS100005,제과점,95896897,13966,...,1755,6035,7931,91,1947,2750,3816,3068,2294,2
746,2019,1,D,발달상권,1001249,서울 은평구 불광역_2,CS200028,미용실,160161592,4975,...,31,2937,2038,103,1130,1396,1152,772,422,5
930,2019,1,D,발달상권,1001248,서울 은평구 불광역_1,CS200034,여관,845137605,22030,...,3962,16941,5069,710,8829,4584,4049,2663,1175,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160853,2014,4,A,골목상권,1000394,불광천길,CS200008,한의원,149573924,5322,...,0,1981,3305,0,472,1031,1065,1388,1330,2
161987,2014,4,D,발달상권,1001248,서울 은평구 불광역_1,CS200001,일반교습학원,83738596,179,...,16,65,114,0,0,132,47,0,0,1
162019,2014,4,D,발달상권,1001250,서울 은평구 불광역_3,CS200030,피부관리실,63309755,198,...,10,10,188,0,84,84,10,10,10,1
162020,2014,4,D,발달상권,1001250,서울 은평구 불광역_3,CS200034,여관,15121381,544,...,38,468,76,0,276,114,78,76,0,2
162053,2014,4,D,발달상권,1001248,서울 은평구 불광역_1,CS300033,철물점,9231994,312,...,0,132,122,0,25,67,49,79,36,1

# 여기서부터 생필품, 매출, 시장주소 데이터의 내용이 바뀜

### 전통시장만 남겨놓기

In [12]:
# necessity, sales에 전통시장 관련 행만 남김
df_necessity = df_necessity[df_necessity['시장유형 구분(시장/마트) 이름']=='전통시장']
df_sales = df_sales[df_sales['상권_구분_코드_명']=='전통시장']

### 생필품, 매출, 시장주소 데이터에서 시장이름 데이터 들여다보기

In [13]:
# 생필품
necessity_markets = df_necessity['시장/마트 이름'].unique()
print(len(necessity_markets), necessity_markets)
print([necessity_market for necessity_market in necessity_markets if not re.search('시장', necessity_market)])

53 ['통인시장' '방배종합시장' '방학동도깨비시장' '장위골목시장' '신창시장' '마포농수산물시장' '동원시장' '광장시장'
 '남성시장' '금남시장' '뚝도시장' '후암시장' '청량리종합시장' '남문시장' '남구로시장' '신영시장' '고척근린시장'
 '용문시장' '대림시장' '영등포전통시장' '망원시장' '영천시장' '인왕시장' '신원시장(신림1동)' '자양골목시장'
 '수유재래시장' '경동시장' '우림시장' '송화시장' '대림중앙시장' '목3동시장' '공릉동 도깨비시장' '돈암제일시장'
 '원당종합시장' '남대문시장' '청담삼익시장' '현대시장' '둔촌역전통시장' '서울중앙시장' '노룬산골목시장' '화곡본동시장'
 '방이시장' '대조시장' '도곡시장' '마천중앙시장' '관악신사시장(신림4동)' '암사종합시장' '상계중앙시장' '숭인시장'
 '방림시장' '구로시장' '공릉동도깨비시장' '영동시장']
[]

In [14]:
# 매출
sales_markets = df_sales['상권_코드_명'].unique()
print(len(sales_markets), sales_markets)
print([sales_market for sales_market in sales_markets if not re.search('시장', sales_market)])

226 ['영도시장' '암사종합시장' '서울약령시장' '경동시장' '답십리시장' '이경시장' '뚝도시장' '남문시장' '남대문시장'
 '방천골목시장' '이촌종합시장' '신중부시장' '현대시장' '상계중앙시장' '평화시장' '만리시장' '숭인시장' '서울중앙시장'
 '망원시장' '백학시장' '망원월드컵시장' '광장시장' '신흥시장' '장미원골목시장' '약수시장' '신월3동골목시장'
 '성동용답상가시장' '공덕시장' '한아름시장' '노룬산골목시장' '수일시장' '중곡제일시장' '양지골목시장' '신성골목시장'
 '자양골목시장' '능동로골목시장' '동부골목시장' '면목골목시장' '사가정시장' '우이시장' '관악신사시장' '우림골목시장'
 '태능시장' '동원시장' '장위전통시장' '상도4동도깨비골목시장' '솔샘시장' '정릉시장' '상도전통시장' '정릉아리랑시장'
 '길음시장' '인왕시장' '노량진중앙시장' '영천시장' '목2동시장' '번동북부골목시장' '성대시장' '동평화시장' '신영시장'
 '방산종합시장' '신월6동골목시장' '모래내시장' '남성역골목시장' '길동복조리시장' '흑석시장' '전농로터리시장' '동진시장'
 '돈암제일시장' '까치산시장' '합동(새벽)시장' '영진시장A동' '대원종합시장' '새마을시장' '용문전통시장' '화곡본동시장'
 '신원시장' '신림중앙시장' '봉일시장' '신림종합시장' '신수시장' '남성사계시장' '봉천중앙시장' '창동신창시장'
 '명일골목시장' '고덕전통시장' '강남시장_강남' '우림시장' '인헌시장' '금남시장' '성내골목시장' '고척근린시장'
 '신정제일시장' '천호시장' '동묘시장' '신도봉시장' '보광시장' '남부골목시장' '송화골목시장' '미성동도깨비시장'
 '창신골목시장' '회기시장' '답십리현대시장' '백운시장' '상계시장' '화곡중앙골목시장' '본동인정시장' '영등포전통시장'
 '전곡시장' '갈현시장' '포방터시장' '중화제일시장' '가리봉시장' '풍납시장' '오류시장' '마장축산물시장' '목3동시장'
 '은행나무시장' '목4동시장' '월정로시장' '신정3동골목시장' '방이시장' '석촌시장' '둔촌역전통시장' '이태원제일시장'
 '대명시장' '중부시장' '봉천제일종합시장' '남구로시장' '석관시장' '영동전통시장' '독산동 우시장' '동대문종합시장'
 '방학동도깨비시장' '우리시장' '수유전통시장' '강북종합시장' '면곡골목시장' '영동교골목시장' '사당시장' '낙성대시장'
 '동북시장' '석관황금시장' '강남골목시장' '충신시장' '아현시장' '서교시장' '사러가시장' '양재시장' '청담삼익시장'
 '신월7동골목시장' '남부종합시장' '신신림시장' '도림시장' '논현종합시장' '통인시장' '공릉동도깨비시장' '강남시장_동작'
 '경창시장' '청량리종합시장' '창동골목시장' '도곡시장' '개봉중앙시장' '청량리전통시장' '행당시장' '역촌중앙시장'
 '마천시장' '제일평화시장' '신월중앙시장' '강남개포시장' '신응암시장' '대조시장' '대림골목시장' '묵1동도깨비시장'
 '방신전통시장' '신정2동골목시장' '청량리청과물시장' '쌍문역골목시장' '인현시장' '조양시장' '신노량진시장'
 '마포농수산물시장' '영등포청과시장' '구로시장' '연서시장' '영진시장' '이문제일시장' '녹번시장' '백련시장'
 '고분다리골목시장' '화양제일골목시장' '이태원시장' '동서울시장' '동부시장' '대림중앙시장' '종로신진시장' '동서시장'
 '증산종합시장' '청량리수산시장' '마포시장' '합정시장' '후암시장' '밤나무골시장' '수유북부시장' '아현가구거리상점가'
 '봉천현대시장' '영일시장' '용두시장' '청량리농수산물시장' '청평화시장' '새석관시장' '구의시장' '수유중앙시장'
 '삼성동시장' '공항시장' '동문시장' '등마루시장' '번동시장' '유영시장' '박미시장' '대신시장' '남평화시장' '푸른터시장'
 '자양종합시장' '동부청과시장' '양남시장' '신설종합시장']
['아현가구거리상점가']

In [15]:
# 시장이름
market_address_markets = df_market_address['전통시장명'].unique()
print(len(market_address_markets), market_address_markets)

327 ['갈현시장' '강남시장' '강남역 지하도상가' '강남터미널지하도상점가1구역' '강남터미널지하도상점가2구역'
 '강남터미널지하도상점가3구역' '강북종합골목시장' '강북종합시장' '개봉중앙시장' '개봉프라자' '개포2동 중심상가'
 '경동광성상가' '경동시장' '경창시장' '고덕전통시장' '고속터미널 지하철역 상점가 ' '고척근린시장' '고척프라자' '공덕시장'
 '공릉동 도깨비시장' '공무원연금매장 상록스토아 개포점' '공항시장' '관악신사시장(신림4동)' '관악종합시장' '광성시장'
 '광장골목시장' '광장시장' '광희시장' '구로시장' '구의시장' '굽은다리골목시장' '금남시장' '금천교시장' '길동골목시장'
 '길음시장' '까치산시장' '깡통시장(제기상가번영회)' '낙성대 시장(봉천7동)' '낙원상가' '낙원지하시장(대일상가)'
 '남구로시장(구 구로자율시장)' '남대문로 지하상가' '남대문시장' '남문시장' '남부골목시장' '남부종합시장' '남부화곡시장'
 '남서울상가' '남평화시장' '노룬산골목시장' '노룬산시장' '녹번시장' '논현종합시장' '능동로골목시장' '답십리시장'
 '답십리현대시장' '대림골목시장' '대림시장' '대림중앙시장' '대명시장' '대명시장 및 주변상점가' '대신시장' '대원종합시장'
 '대조시장' '도림시장' '도선동상점가' '도화동 상점가' '돈암제일시장' '동남상가' '동대문문구완구종합시장' '동대문상가A동'
 '동대문상가B동' '동대문상가C동' '동대문종합시장' '동대문종합시장D동상가' '동대문지하쇼핑센터' '동문시장' '동부골목시장'
 '동부시장' '동부청과시장' '동북시장' '동서시장' '동서울시장' '동성타워프라자' '동소문 스카이상가' '동원골목시장'
 '동원시장' '동진시장' '동평화시장' '동화시장' '두암시장' '둔촌역전통시장' '등마루시장' '뚝도시장' '로데오거리상점가'
 '로타리상가' '마장축산물시장' '마천시장' '마천중앙시장' '마포농수산물시장' '마포시장' '만리시장' '망원동월드컵시장'
 '망원시장' '면곡골목시장' '면목골목시장' '면목시장' '명동 지하도상가' '명동역지하도쇼핑센터' '명일골목시장' '모래내시장'
 '목2동시장' '목3동시장' '목4동시장' '목동제일시장' '문정동 로데오거리 상점가' '미성동 도깨비시장' '박미시장'
 '밤나무골시장' '방산시장' '방산종합시장' '방신재래시장' '방이시장' '방천골목시장' '방학동도깨비시장' '백련시장'
 '번동북부골목시장' '번동북부시장' '번동시장' '보광시장' '보문골목시장' '본동인정시장' '봉일시장' '봉천신시장'
 '봉천제일종합시장' '봉천중앙시장' '봉천현대시장' '사가정골목시장' '사당시장' '사러가시장' '삼구시장' '삼선골목시장'
 '삼성동 시장(신림6동)' '삼익패션타운' '상계시장' '상계중앙시장' '새마을시장' '새석관시장' '서교시장' '서울약령시장'
 '서울중앙시장' '서원동상점가' '서중시장' '석관시장' '석관황금시장' '석촌시장' '성내골목시장' '성대시장'
 '성동용답상가시장' '세운상가가동' '소공지하도상가' '솔샘시장(미아67동골목시장)' '송화골목시장' '수유북부시장' '수유시장'
 '수유재래시장' '수유전통시장(구)수유골목시장' '수유중앙골목시장' '수유중앙시장' '수유프라자' '수일시장' '숭례문상가'
 '숭인시장' '시청광장 지하쇼핑센터' '신곡종합시장' '신길시장' '신노량진시장' '신도봉시장' '신동시장' '신림종합시장'
 '신림중앙시장' '신림현대상가' '신사상가' '신설종합시장' '신성시장' '신수시장' '신신림시장' '신아타운' '신영사러가시장'
 '신영시장' '신원시장(신림1동)' '신월3동 골목시장' '신월6동 골목시장' '신월7동 골목시장' '신월중앙시장' '신응암시장'
 '신정1동 골목시장' '신정2동 골목시장' '신정3동 골목시장' '신정제일시장' '신중부시장' '신평화패션타운' '신흥시장'
 '쌍문역골목시장' '쑥고개 시장(봉천8동)' '아리랑시장' '아현골목시장' '암사종합시장' '약수시장' '양남시장' '양재시장'
 '양지골목시장' '양지시장' '양지종합시장' '양평시장' '에리어식스' '역삼종합시장' '역촌중앙시장' '연서시장' '연신내상점가'
 '연희사러가' '염리시장' '영도시장' '영동교골목시장' '영동전통시장' '영등포기계상가' '영등포로타리지하도상점가'
 '영등포시장기계공구상가' '영등포시장지하도상점가' '영등포역지하도상점가' '영등포유통상가' '영등포전통시장' '영신상가'
 '영일시장' '영진시장' '영진시장A동' '영진시장B동' '영천시장' '오류시장' '용강동 상점가' '용두시장' '용문시장'
 '우리시장' '우림골목시장' '우림시장' '우성상가' '우이골목시장' '우이시장' '원당종합시장' '월정로시장' '유영시장'
 '유진상가' '을지입구지하상가' '을지지하보도상가' '응암시장' '이경시장' '이문제일시장' '이촌종합시장' '이태원시장'
 '인왕시장' '인헌시장(봉천11동)' '인현시장' '자양골목시장' '자양종합시장' '자유상가' '장미원골목시장'
 '장신구 특화거리 상점가' '장위골목시장' '장위시장' '전곡시장' '전농로터리시장' '정릉시장' '제기시장' '제일상가'
 '제일시장' '제일평화시장' '조광시장' '조양시장' '조원동 펭귄시장(신림8동)' '종각지하쇼핑센터' '종로4가지하상가'
 '종로5가지하상가' '종로신진시장' '중곡제일골목시장' '중곡제일시장' '중랑교종합상가' '중부시장' '중앙노점' '증산종합시장'
 '창동골목시장' '창동신창시장' '창신골목시장' '천호시장' '천호신시장' '청계5가 지하쇼핑센터' '청계6가 지하도상가'
 '청담삼익시장' '청담제일시장' '청량리수산시장' '청량리전통시장' '청량리종합시장' '청량리청과물시장' '청평화시장' '충신시장'
 '태능시장' '통인시장' '통일상가' '평화시장' '포방터시장' '푸른터시장' '풍납시장' '한남프라자' '한아름시장' '한양시장'
 '한일상가' '한일지하상가(마전교지하쇼핑센터)' '합정시장' '행당시장' '현대시장' '홍대 걷고싶은 거리' '화곡본동시장'
 '화곡중앙골목시장' '화곡중앙시장' '화양제일골목시장' '회기시장' '회현지하도상가' '후암시장']

### 생필품, 매출, 시장주소 데이터에서 시장이름이 같으면 코드도 같은가?

In [16]:
df_necessity.groupby(['시장/마트 이름', '년도-월', '품목 번호', '실판매규격', '비고']).count()[['시장/마트 번호']]

                                          시장/마트 번호
시장/마트 이름 년도-월    품목 번호 실판매규격     비고
경동시장     2013-01 24    1망(1.7kg) 무안              1
                 58    600g(1등급) 국내산             1
                 134   10개       국내산             1
                 152   1마리(35cm) 특대              1
                 202   600g      국내산             1
...                                            ...
후암시장     2020-12 312   1개        청원생명            1
                 315   1마리 45cm  러시아산 냉동         1
                       1마리 45cm  러시아산 냉동         5
                 320   30개       국내산 참사랑         3
                                 참사랑             3

[80247 rows x 1 columns]

In [17]:
df_necessity.groupby(['시장/마트 번호', '년도-월', '품목 번호', '실판매규격']).count()['시장/마트 이름'].unique()

array([ 1,  6,  3,  2,  5,  7,  4,  8,  9, 10], dtype=int64)

In [18]:
print(len(df_necessity['시장/마트 번호'].unique()))
print(len(df_necessity['시장/마트 이름'].unique()))
# df_necessity[df_necessity['일련번호'] == 1519524]
for num in df_necessity['시장/마트 번호'].unique():
    df_nessity_market = df_necessity[df_necessity['시장/마트 번호'] == num]
    print(df_nessity_market['시장/마트 이름'].unique())

52
53
['통인시장']
['방배종합시장']
['방학동도깨비시장']
['장위골목시장']
['신창시장']
['마포농수산물시장']
['동원시장']
['광장시장']
['남성시장']
['금남시장']
['뚝도시장']
['후암시장']
['청량리종합시장']
['남문시장']
['남구로시장' '구로시장']
['신영시장']
['고척근린시장']
['용문시장']
['대림시장']
['영등포전통시장']
['망원시장']
['영천시장']
['인왕시장']
['신원시장(신림1동)']
['자양골목시장']
['수유재래시장']
['경동시장']
['우림시장']
['송화시장']
['대림중앙시장']
['목3동시장']
['공릉동 도깨비시장' '공릉동도깨비시장']
['돈암제일시장']
['원당종합시장']
['남대문시장']
['청담삼익시장']
['현대시장']
['둔촌역전통시장']
['서울중앙시장']
['노룬산골목시장']
['화곡본동시장']
['방이시장']
['대조시장']
['도곡시장']
['마천중앙시장']
['관악신사시장(신림4동)']
['암사종합시장']
['상계중앙시장']
['숭인시장']
['방림시장']
['구로시장']
['영동시장']

In [19]:
df_market_address[df_market_address['전통시장명'].str.contains('구로시장')]

    자치구 코드 자치구명            전통시장명         주소명         위도          경도
29       7  구로구             구로시장  구로동  736-1  37.488535  126.885264
41       7  구로구  남구로시장(구 구로자율시장)  구로동 730-27  37.490481  126.885048

In [20]:
df_necessity[df_necessity['시장/마트 이름'].str.contains('구로시장')][['시장/마트 이름', '시장/마트 번호']].drop_duplicates()

       시장/마트 이름  시장/마트 번호
1273      남구로시장       108
108361     구로시장       202
52643      구로시장       108

In [21]:
df_necessity[(df_necessity['시장/마트 이름'].str.contains('구로시장'))&(df_necessity['년도-월']=='2013-12')][['시장/마트 이름', '시장/마트 번호', '년도-월']].drop_duplicates()

      시장/마트 이름  시장/마트 번호     년도-월
78474     구로시장       202  2013-12

In [22]:
df_necessity[(df_necessity['시장/마트 이름'].str.contains('구로시장'))&(df_necessity['년도-월']=='2015-12')][['시장/마트 이름', '시장/마트 번호', '년도-월']].drop_duplicates()

      시장/마트 이름  시장/마트 번호     년도-월
40047     구로시장       202  2015-12
40367    남구로시장       108  2015-12

In [23]:
df_necessity[(df_necessity['시장/마트 이름']=='구로시장')&(df_necessity['시장/마트 번호']==108)][['시장/마트 이름', '시장/마트 번호', '년도-월']].drop_duplicates()

      시장/마트 이름  시장/마트 번호     년도-월
52643     구로시장       108  2015-04
89127     구로시장       108  2013-05

In [24]:
df_necessity[(df_necessity['시장/마트 이름'].str.contains('구로시장'))&(df_necessity['년도-월']=='2015-04')]

,일련번호,시장/마트 번호,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),년도-월,비고,시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,자치구 코드,자치구 이름,점검일자
52643,749793,108,구로시장,28,사과,1개,2000,2015-04,부사(대),1,전통시장,530000,구로구,2015-04-22
52644,749794,108,구로시장,284,배(중품),1개,3000,2015-04,나주신고,1,전통시장,530000,구로구,2015-04-22
52645,749795,108,구로시장,26,배추,1포기,3000,2015-04,국내산,1,전통시장,530000,구로구,2015-04-22
52646,749796,108,구로시장,25,무,1개,1000,2015-04,국내산,1,전통시장,530000,구로구,2015-04-22
52647,749797,108,구로시장,272,양파(작은망),1망,2000,2015-04,&amp;44509,1,전통시장,530000,구로구,2015-04-22
52648,749798,108,구로시장,23,상추,1봉지(400g),1000,2015-04,국내산,1,전통시장,530000,구로구,2015-04-22
52649,749799,108,구로시장,22,오이,1개,500,2015-04,NaN,1,전통시장,530000,구로구,2015-04-22
52650,749800,108,구로시장,277,호박,1개,1000,2015-04,웰빙,1,전통시장,530000,구로구,2015-04-22
52651,749801,108,구로시장,58,"쇠고기(한우,불고기)",600g(1등급),19400,2015-04,부천농협,1,전통시장,530000,구로구,2015-04-22
52652,749802,108,구로시장,202,돼지고기(생삼겹살),600g,10800,2015-04,부천농협,1,전통시장,530000,구로구,2015-04-22
52653,749803,108,구로시장,283,닭고기(육계),1마리(1.2kg),5000,2015-04,NaN,1,전통시장,530000,구로구,2015-04-22
52654,749804,108,구로시장,17,달걀,10개,1500,2015-04,일반왕란,1,전통시장,530000,구로구,2015-04-22
52655,749805,108,구로시장,260,"조기(냉동,수입산)",1마리(20cm),1500,2015-04,"중국,부세",1,전통시장,530000,구로구,2015-04-22
52656,749806,108,구로시장,152,"명태(러시아,냉동)",1마리(42cm),1700,2015-04,NaN,1,전통시장,530000,구로구,2015-04-22
52657,749807,108,구로시장,254,"오징어(생물,국산)",1마리,2500,2015-04,NaN,1,전통시장,530000,구로구,2015-04-22
52658,749808,108,구로시장,266,"고등어(생물,국산)",1마리(32cm),2000,2015-04,소,1,전통시장,530000,구로구,2015-04-22
53091,752944,202,구로시장,305,"사과(부사, 300g)",1개,2000,2015-04,국내산 부사,1,전통시장,530000,구로구,2015-04-29
53092,752945,202,구로시장,306,"배(신고, 600g)",1개,3000,2015-04,국내산 안성,1,전통시장,530000,구로구,2015-04-29
53093,752946,202,구로시장,307,배추(2.5~3kg),1포기,2000,2015-04,국내산 해남,1,전통시장,530000,구로구,2015-04-29
53094,752947,202,구로시장,308,무(1kg),1개,1000,2015-04,국내산 제주,1,전통시장,530000,구로구,2015-04-29
53095,752948,202,구로시장,24,양파,1망,2000,2015-04,국내산 무안,1,전통시장,530000,구로구,2015-04-29
53096,752949,202,구로시장,310,상추(100g),1봉지,1000,2015-04,국내산,1,전통시장,530000,구로구,2015-04-29
53097,752950,202,구로시장,311,오이(다다기),1개,400,2015-04,국내1묶음5개2000,1,전통시장,530000,구로구,2015-04-29
53098,752951,202,구로시장,312,애호박,1개,1000,2015-04,국내산,1,전통시장,530000,구로구,2015-04-29
53099,752952,202,구로시장,58,"쇠고기(한우,불고기)",600g,22000,2015-04,농협부천,1,전통시장,530000,구로구,2015-04-29
53100,752953,202,구로시장,202,돼지고기(생삼겹살),600g,13500,2015-04,농협부천,1,전통시장,530000,구로구,2015-04-29
53101,752954,202,구로시장,283,닭고기(육계),1마리,5000,2015-04,국내산,1,전통시장,530000,구로구,2015-04-29
53102,752955,202,구로시장,171,달걀(특란),10개,2000,2015-04,국내산,1,전통시장,530000,구로구,2015-04-29
53103,752956,202,구로시장,260,"조기(냉동,수입산)",1마리[20cm],2000,2015-04,부세조기,1,전통시장,530000,구로구,2015-04-29
53104,752957,202,구로시장,152,"명태(러시아,냉동)",1마리[45cm],2000,2015-04,NaN,1,전통시장,530000,구로구,2015-04-29
53105,752958,202,구로시장,254,"오징어(생물,국산)",1마리[25cm],2500,2015-04,NaN,1,전통시장,530000,구로구,2015-04-29
53106,752959,202,구로시장,266,"고등어(생물,국산)",1마리[25cm],4000,2015-04,NaN,1,전통시장,530000,구로구,2015-04-29

In [25]:
# ['남구로시장' '구로시장']
# ['공릉동 도깨비시장' '공릉동도깨비시장']
# 위 문제들 해결
df_necessity.loc[df_necessity['시장/마트 번호']==108, '시장/마트 이름'] = '남구로시장'
df_necessity.loc[df_necessity['시장/마트 이름']=='공릉동도깨비시장', '시장/마트 이름'] = '공릉동 도깨비시장'

In [26]:
df_necessity[df_necessity['시장/마트 이름']=='공릉동 도깨비시장']

,일련번호,시장/마트 번호,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),년도-월,비고,시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,자치구 코드,자치구 이름,점검일자
2689,1621745,96,공릉동 도깨비시장,260,"조기(냉동,수입산)",1마리25cm,6000,2020-12,부세중국산,1,전통시장,350000,노원구,2020-12-21
2691,1630718,96,공릉동 도깨비시장,254,"오징어(생물,국산)",1마리25cm,6000,2020-12,동해안,1,전통시장,350000,노원구,2020-12-21
2693,1627810,96,공릉동 도깨비시장,171,달걀(10개),10개,3000,2020-12,국내산,1,전통시장,350000,노원구,2020-12-21
2753,1623570,96,공릉동 도깨비시장,266,"고등어(생물,국산)",1마리30cm,5000,2020-12,부산,1,전통시장,350000,노원구,2020-12-21
2815,1621737,96,공릉동 도깨비시장,310,상추(100g),100g,600,2020-12,적상추,1,전통시장,350000,노원구,2020-12-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96972,403788,96,공릉동 도깨비시장,134,달걀(왕란),10개,2500,2013-01,황금알,1,전통시장,350000,노원구,2013-01-31
96973,403789,96,공릉동 도깨비시장,260,"조기(냉동,수입산)",1마리(20cm),4000,2013-01,"중국산, 부세",1,전통시장,350000,노원구,2013-01-31
96974,403790,96,공릉동 도깨비시장,152,"명태(러시아,냉동)",1마리(45cm),0,2013-01,NaN,1,전통시장,350000,노원구,2013-01-31
96975,403791,96,공릉동 도깨비시장,256,"오징어(냉동,국산)",1마리(25cm),3000,2013-01,제주산,1,전통시장,350000,노원구,2013-01-31
96976,403792,96,공릉동 도깨비시장,266,"고등어(생물,국산)",1마리(30cm),3000,2013-01,부산,1,전통시장,350000,노원구,2013-01-31

In [27]:
df_necessity[df_necessity['시장/마트 번호']==108][['시장/마트 번호', '시장/마트 이름']].drop_duplicates()

      시장/마트 번호 시장/마트 이름
1273       108    남구로시장

In [28]:
print(len(df_necessity['시장/마트 번호'].unique()))
print(len(df_necessity['시장/마트 이름'].unique()))
# df_necessity[df_necessity['일련번호'] == 1519524]
for name in df_necessity['시장/마트 이름'].unique():
    df_nessity_market = df_necessity[df_necessity['시장/마트 이름'] == name]
    print(df_nessity_market['시장/마트 번호'].unique())

52
52
[1]
[228]
[25]
[14]
[26]
[121]
[91]
[55]
[127]
[72]
[73]
[62]
[84]
[115]
[108]
[103]
[109]
[10]
[49]
[20]
[120]
[32]
[31]
[134]
[78]
[66]
[85]
[90]
[38]
[19]
[102]
[96]
[13]
[133]
[11]
[215]
[114]
[205]
[199]
[212]
[213]
[146]
[219]
[216]
[145]
[207]
[151]
[210]
[221]
[217]
[202]
[197]

In [29]:
# 1만 있으면 같은 것
df_sales.groupby(['상권_코드_명', '기준_년_코드', '기준_분기_코드', '서비스_업종_코드']).count()['상권_코드'].unique()

array([1], dtype=int64)

In [30]:
df_market_address.groupby('전통시장명').count()['주소명']

전통시장명
갈현시장              1
강남시장              2
강남역 지하도상가         1
강남터미널지하도상점가1구역    1
강남터미널지하도상점가2구역    1
                 ..
화곡중앙시장            1
화양제일골목시장          1
회기시장              1
회현지하도상가           1
후암시장              1
Name: 주소명, Length: 327, dtype: int64

In [31]:
# 강남시장의 경우 동일이름 다른지역에 2개 있음
# 하지만 생필품 데이터에 강남시장이 없어 넘어가도 됨
df_market_address[df_market_address['전통시장명'] == '강남시장']

   자치구 코드 자치구명 전통시장명        주소명         위도          경도
1      12  동작구  강남시장    상도동 488  37.518749  127.020640
2       1  강남구  강남시장  신사동510-11  37.496746  126.953488

### 매출 데이터에서 업종이름이 같으면 코드도 같은가?

In [32]:
# 1만 있으면 같은 것
df_sales.groupby(['서비스_업종_코드_명', '기준_년_코드', '기준_분기_코드', '상권_코드']).count()['서비스_업종_코드'].unique()

array([1], dtype=int64)

### 생필품 데이터의 시장주소가 시장주소 데이터의 시장주소에 매핑되는지 확인

In [33]:
df_market_address[df_market_address['전통시장명'].str.contains('남구로')]

    자치구 코드 자치구명            전통시장명         주소명         위도          경도
41       7  구로구  남구로시장(구 구로자율시장)  구로동 730-27  37.490481  126.885048

In [34]:

necessity_markets = df_necessity['시장/마트 이름'].unique()
none_necessity_markets = set(necessity_markets) - set(market_address_markets)
print(len(necessity_markets), len(none_necessity_markets), none_necessity_markets)

52 8 {'남구로시장', '방림시장', '방배종합시장', '영동시장', '남성시장', '송화시장', '신창시장', '도곡시장'}

In [35]:
market_market_address_to_necessity = {}
none_necessity_markets2 = set(none_necessity_markets)


# 창동신창시장은 검색결과 신창시장 맞음
# 보통 남성시장이라고 검색했을 때 이수역의 남성사계시장 의미
pre_market = re.compile(r'(중앙)?(재래)?(골목)?(종합)?시장[가-힣()0-9 ]*')
for none_necessity_market in none_necessity_markets:
    r_market = re.compile(pre_market.sub('', none_necessity_market))
    for market_address_market in market_address_markets:
        if r_market.search(market_address_market):
            print(none_necessity_market, '/', market_address_market)
            market_market_address_to_necessity[market_address_market] = none_necessity_market
            none_necessity_markets2.remove(none_necessity_market)
            break
            
print(market_market_address_to_necessity)
print(len(none_necessity_markets2), none_necessity_markets2)

남구로시장 / 남구로시장(구 구로자율시장)
영동시장 / 영동교골목시장
송화시장 / 송화골목시장
신창시장 / 창동신창시장
{'남구로시장(구 구로자율시장)': '남구로시장', '영동교골목시장': '영동시장', '송화골목시장': '송화시장', '창동신창시장': '신창시장'}
4 {'방림시장', '방배종합시장', '남성시장', '도곡시장'}

### 생필품 데이터의 시장주소가 매출 데이터의 시장주소에 매핑되는지 확인

In [36]:
none_necessity_markets = set(necessity_markets) - set(sales_markets)
print(len(necessity_markets), len(none_necessity_markets), none_necessity_markets)

52 15 {'장위골목시장', '수유재래시장', '원당종합시장', '방림시장', '공릉동 도깨비시장', '관악신사시장(신림4동)', '마천중앙시장', '신원시장(신림1동)', '방배종합시장', '영동시장', '남성시장', '송화시장', '대림시장', '용문시장', '신창시장'}

In [37]:
market_sales_to_necessity = {}
none_necessity_markets2 = set(none_necessity_markets)

# 마천시장 = 마천중앙시장
# 수유전통시장 = 수유재래시장(카카오맵 위치상 거의 같음)
# 장위골목시장 ? 장위전통시장(골목 검색결과 없음)
# 남성시장 != 남성역골목시장(남성사계시장(옛이름 남성시장), 남성역골목시장은 각각 이수, 남성역에 위치)
# 용문시장 ? 용문전통시장(용문전통시장 검색결과 없음)
pre_market = re.compile(r'(중앙)?(재래)?(골목)?(종합)?시장[가-힣()1-9 ]*')
# pre_market = re.compile(r'[()]')
for none_necessity_market in none_necessity_markets:
#     print(pre_market.sub('', none_necessity_market))
    r_market = re.compile(pre_market.sub('', none_necessity_market))
    for sales_market in sales_markets:
        if r_market.search(sales_market):
            print(none_necessity_market, '/', sales_market)
            market_sales_to_necessity[sales_market] = none_necessity_market
            none_necessity_markets2.remove(none_necessity_market)
            break
            
print(market_sales_to_necessity)
print(len(none_necessity_markets2), none_necessity_markets2)

장위골목시장 / 장위전통시장
수유재래시장 / 수유전통시장
관악신사시장(신림4동) / 관악신사시장
마천중앙시장 / 마천시장
신원시장(신림1동) / 신원시장
영동시장 / 영동전통시장
남성시장 / 남성역골목시장
송화시장 / 송화골목시장
대림시장 / 대림골목시장
용문시장 / 용문전통시장
신창시장 / 창동신창시장
{'장위전통시장': '장위골목시장', '수유전통시장': '수유재래시장', '관악신사시장': '관악신사시장(신림4동)', '마천시장': '마천중앙시장', '신원시장': '신원시장(신림1동)', '영동전통시장': '영동시장', '남성역골목시장': '남성시장', '송화골목시장': '송화시장', '대림골목시장': '대림시장', '용문전통시장': '용문시장', '창동신창시장': '신창시장'}
4 {'원당종합시장', '방림시장', '공릉동 도깨비시장', '방배종합시장'}

### 시장명 통일

In [38]:
market_market_address_to_necessity

{'남구로시장(구 구로자율시장)': '남구로시장',
 '영동교골목시장': '영동시장',
 '송화골목시장': '송화시장',
 '창동신창시장': '신창시장'}

In [39]:
market_sales_to_necessity

{'장위전통시장': '장위골목시장',
 '수유전통시장': '수유재래시장',
 '관악신사시장': '관악신사시장(신림4동)',
 '마천시장': '마천중앙시장',
 '신원시장': '신원시장(신림1동)',
 '영동전통시장': '영동시장',
 '남성역골목시장': '남성시장',
 '송화골목시장': '송화시장',
 '대림골목시장': '대림시장',
 '용문전통시장': '용문시장',
 '창동신창시장': '신창시장'}

In [40]:
# 시장이름 통일
df_market_address = df_market_address.replace(market_market_address_to_necessity)
df_sales = df_sales.replace(market_sales_to_necessity)

In [41]:
df_market_address[df_market_address['전통시장명']=='신창시장']

     자치구 코드 자치구명 전통시장명     주소명         위도          경도
293      10  도봉구  신창시장  창동 581  37.640302  127.038832

In [42]:
df_sales[df_sales['상권_코드_명']=='신창시장']

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
931,2019,1,R,전통시장,1001359,신창시장,CS100001,한식음식점,519796971,27075,...,2493,14773,12088,403,2663,4149,7547,7098,5001,17
1127,2019,1,R,전통시장,1001359,신창시장,CS200003,예술학원,40886169,206,...,0,51,155,0,0,17,172,17,0,0
3405,2019,1,R,전통시장,1001359,신창시장,CS100010,커피-음료,39233105,6171,...,691,2485,3579,82,1471,1590,1517,1091,313,2
3441,2019,1,R,전통시장,1001359,신창시장,CS200008,한의원,216580863,6123,...,0,2993,3130,0,381,476,1393,2747,1126,2
3731,2019,1,R,전통시장,1001359,신창시장,CS300033,철물점,20420,20,...,0,20,0,0,0,0,20,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154207,2014,4,R,전통시장,1001359,신창시장,CS300031,가구,49484340,192,...,4,73,116,0,21,22,58,62,26,3
154209,2014,4,R,전통시장,1001359,신창시장,CS300036,조명용품,6321912,272,...,11,133,139,0,11,64,69,78,50,1
155500,2014,4,R,전통시장,1001359,신창시장,CS300017,시계및귀금속,38405852,328,...,5,68,256,0,14,38,70,119,83,5
160670,2014,4,R,전통시장,1001359,신창시장,CS200038,독서실,8901258,188,...,12,36,152,6,18,18,134,12,0,1
161755,2014,4,R,전통시장,1001359,신창시장,CS100010,커피-음료,57114834,9912,...,1448,3587,6136,332,3390,3596,1568,709,128,2

### 필요없는 컬럼 제거 및 이름 통일

In [43]:
# 컬럼이름변환, 필요없는 컬럼 삭제
df_necessity = df_necessity.rename({'시장/마트 이름': '시장이름', '자치구 이름': '자치구'}, axis=1)
df_necessity = df_necessity.drop(['점검일자', '시장/마트 번호', '품목 번호', '시장유형 구분(시장/마트) 코드', '시장유형 구분(시장/마트) 이름', '자치구 코드'], axis=1)

In [44]:
df_necessity.head()

      일련번호    시장이름       품목 이름   실판매규격  가격(원)     년도-월         비고  자치구
0  1621162    통인시장  양파(1.5kg망)     1kg   2000  2020-12     국내산,무안  종로구
1  1628949  방배종합시장          호박  1개268g   1500  2020-12  국내산/인큐베이터  서초구
4  1622882    통인시장  양파(1.5kg망)     1kg   2000  2020-12     국내산,무안  종로구
6  1622883    통인시장    상추(100g)    400g   3000  2020-12    국내산,적상추  종로구
8  1622885    통인시장   호박(인큐베이터)      1개   1000  2020-12       국내산,  종로구

In [45]:
df_market_address = df_market_address.rename({'전통시장명': '시장이름', '자치구명': '자치구'}, axis=1)
df_market_address = df_market_address.drop(['자치구 코드'], axis=1)

In [46]:
df_market_address.head()

   자치구            시장이름          주소명         위도          경도
0  은평구            갈현시장   갈현동 424-16  37.623587  126.917385
1  동작구            강남시장      상도동 488  37.518749  127.020640
2  강남구            강남시장    신사동510-11  37.496746  126.953488
3  강남구       강남역 지하도상가     역삼동821-1  37.498595  127.028026
4  서초구  강남터미널지하도상점가1구역  서초구 반포동 163  37.500478  126.986060

In [47]:
df_sales = df_sales.rename({'상권_코드_명': '시장이름', '서비스_업종_코드_명': '업종'}, axis=1)
df_sales = df_sales.drop(['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '서비스_업종_코드'], axis=1)

In [48]:
df_sales.head()

,기준_년_코드,기준_분기_코드,시장이름,업종,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
2,2019,1,영도시장,섬유제품,4038928,33,100,0,49,0,...,0,17,0,0,0,17,0,0,0,2
6,2019,1,암사종합시장,수산물판매,1712543938,108896,64,36,15,8,...,511,40273,68502,116,2309,12234,21650,33132,39332,9
14,2019,1,서울약령시장,한의원,3329153658,38642,76,24,17,13,...,26,14251,24366,10,1441,3620,6465,7383,19683,82
15,2019,1,경동시장,육류판매,4587060783,84286,65,35,8,14,...,5,31843,51739,30,1370,6433,11198,20193,44356,30
28,2019,1,답십리시장,미용실,100328154,2550,67,33,9,3,...,0,1470,1080,50,483,623,596,604,194,9

### 생필품 데이터와 매출 데이터가 join할 수 있도록 만들기
- 시장이름은 이미 통일함
- '품목 이름', '가격(원)', '년도-월'에서 결측치 제거
- 품목이름과 업종이름 매칭 필요(ex 생필품에서 양파(1.5kg망) -> (양파, 청과상))
- 년도-분기로 통일필요(ex 생필품에서 2019-03 -> (2019-03, 2019-1분기), 매출에서 (2019, 1) -> 2019-1분기)

In [49]:
df_necessity['품목 이름'].unique()

array(['양파(1.5kg망)', '호박', '상추(100g)', '호박(인큐베이터)', '쇠고기(한우,불고기)',
       '돼지고기(생삼겹살)', '닭고기(육계)', '달걀(10개)', '달걀(30개)', '조기(냉동,수입산)',
       '명태(러시아,냉동)', '오징어(생물,국산)', '고등어(생물,국산)', '무(세척무, 중)', '오이',
       '사과(부사, 300g)', '배추(중간)', '배(신고, 600g)', '오징어', '명태', '배추', '무',
       '닭고기', '돼지고기', '쇠고기', '양파', '조기', '사과', '배', '고등어', '상추',
       '배추(2.5~3kg)', '조기(국산,생물)', '동태', '오이(다다기)', '애호박', '무(1kg)',
       '명태(생물,수입산)', '쇠고기(한우1등급)', '명태(냉동,수입산)', '조기(생물,국산)',
       '명태(45cm,수입산)', '조기(국산,냉동)', '돼지고기(삼겹살)', '닭고기(중간)', '닭고기(토종닭)',
       '배추(국산)', '배(신고)', '양파(작은망)', '오징어(냉동,국산)', '무(세척무)', '배(중품)',
       '호박(인큐베이터),중간', '쇠고기(육우,불고기)', '조기(냉동,국산)', '배(신고),중급(대)',
       '사과(부사)', '냉동참조기(20cm,국산)', '고등어(냉동,국산)', '달걀', '사과(부사),중급(대)',
       '명태(생물,국산)', '달걀(왕란)', '오징어(냉동,수입산)', nan, '고등어(생물,수입산)',
       '조기(생물,수입산)', '사과(중품)', '조기(중국산,생물)', '고등어(30cm,국산)',
       '오징어(생물,수입산)', '고등어(냉동,수입산)', '오징어(냉동)', '배(중품),신고',
       '고등어(30cm,수입산)', '배(신고),중급(중)', '사과(부사),중급(중)', '쇠고기(한우2등급)',
       '사과(중품), 부사', '명태(일본산,냉동)', '갈치(생물, 국산)', '쇠고기(육우1등급)',
       '냉동참조기(20cm,수입)', '달걀(특란)', '명태(냉동,국산)', '삼겹살', '달걀(중란)',
       '갈치(냉동,국산)', '오이(중간)', '쇠고기(등심)'], dtype=object)

In [50]:
df_sales['업종'].unique()

array(['섬유제품', '수산물판매', '한의원', '육류판매', '미용실', '한식음식점', '호프-간이주점', '일반의류',
       '네일숍', '골프연습장', '슈퍼마켓', '중식음식점', '철물점', '피부관리실', '분식전문점', '인테리어',
       '치킨전문점', '고시원', '문구', '스포츠 강습', '의료기기', '커피-음료', '시계및귀금속', '편의점',
       '당구장', '양식음식점', '운동/경기용품', '패스트푸드점', '노래방', '일반교습학원', '의약품',
       '애완동물', '반찬가게', '가방', '청과상', '일반의원', '안경', '세탁소', '일식음식점', '핸드폰',
       '제과점', '예술학원', '화초', '화장품', '스포츠클럽', '치과의원', '서적', '신발', '가전제품',
       '자전거 및 기타운송장비', '미곡판매', '완구', '외국어학원', '전자상거래업', '조명용품',
       '컴퓨터및주변장치판매', '여관', '가구', '자동차수리', 'PC방', '가전제품수리', '자동차미용', '사진관',
       '한복점', '유아의류', '변호사사무소', '예술품', '악기', '독서실', '부동산중개업', '볼링장',
       '여행사', '세무사사무소', '통신기기수리', '자동차부품', '주유소', '법무사사무소', '회계사사무소'],
      dtype=object)

In [51]:
df_necessity = df_necessity.dropna(subset=['품목 이름', '가격(원)', '년도-월'])
print(df_necessity['품목 이름'].isnull().values.any())
print(df_necessity['가격(원)'].isnull().values.any())
print(df_necessity['년도-월'].isnull().values.any())

False
False
False

In [52]:
df_necessity.head()

      일련번호    시장이름       품목 이름   실판매규격  가격(원)     년도-월         비고  자치구
0  1621162    통인시장  양파(1.5kg망)     1kg   2000  2020-12     국내산,무안  종로구
1  1628949  방배종합시장          호박  1개268g   1500  2020-12  국내산/인큐베이터  서초구
4  1622882    통인시장  양파(1.5kg망)     1kg   2000  2020-12     국내산,무안  종로구
6  1622883    통인시장    상추(100g)    400g   3000  2020-12    국내산,적상추  종로구
8  1622885    통인시장   호박(인큐베이터)      1개   1000  2020-12       국내산,  종로구

In [53]:
item_names = set()
re_item = re.compile('[(,][가-힣0-9a-zA-Z ,.~]*[)]?')
for item in df_necessity['품목 이름'].unique():
    item_name = re_item.sub('', item)
    item_names.add(item_name)
print(item_names)

{'동태', '명태', '닭고기', '배', '냉동참조기', '상추', '호박', '양파', '갈치', '오징어', '사과', '달걀', '삼겹살', '고등어', '조기', '배추', '애호박', '돼지고기', '오이', '쇠고기', '무'}

In [54]:
# item_names의 결과에 업종을 수작업으로 매핑
# category = ['수산물판매', '육류판매', '미곡판매', '청과상']
item_to_category = {
    '애호박': '청과상', 
    '오징어': '수산물판매', 
    '상추': '청과상', 
    '사과': '청과상', 
    '오이': '청과상', 
    '달걀': '육류판매', 
    '돼지고기': '육류판매', 
    '냉동참조기': '수산물판매', 
    '양파': '청과상', 
    '조기': '수산물판매', 
    '동태': '수산물판매', 
    '호박': '청과상', 
    '쇠고기': '육류판매', 
    '고등어': '수산물판매', 
    '닭고기': '육류판매', 
    '명태': '수산물판매', 
    '무': '청과상', 
    '배': '청과상', 
    '배추': '청과상',
    '삼겹살': '육류판매',
    '갈치': '수산물판매',
}

In [55]:
df_necessity[df_necessity['품목 이름'].str.contains('^호박')]

          일련번호      시장이름      품목 이름     실판매규격  가격(원)     년도-월         비고  자치구
1      1628949    방배종합시장         호박    1개268g   1500  2020-12  국내산/인큐베이터  서초구
8      1622885      통인시장  호박(인큐베이터)        1개   1000  2020-12       국내산,  종로구
74     1624571      통인시장  호박(인큐베이터)        1개   1200  2020-12    국내산,애호박  종로구
84     1629967      통인시장  호박(인큐베이터)        1개   1500  2020-12  국내산,인큐애호박  종로구
188    1626779  방학동도깨비시장         호박  1개(340g)   1400  2020-12   국냇.인큐베이터  도봉구
...        ...       ...        ...       ...    ...      ...        ...  ...
96488   403304    수유재래시장         호박        1개   1500  2013-01        NaN  강북구
96520   403336    자양골목시장  호박(인큐베이터)        1개   2300  2013-01        빛그린  광진구
96568   403384      남문시장  호박(인큐베이터)        1개   1500  2013-01        NaN  금천구
97048   406472    마천중앙시장  호박(인큐베이터)        1개   1800  2013-01        논개   송파구
97064   406488      방이시장  호박(인큐베이터)        1개   1800  2013-01        논개   송파구

[4496 rows x 8 columns]

In [56]:
# 품목 이름, 업종 매칭 완료
condlist = []
choicelist = []

for item, category in item_to_category.items():
    condlist.append(df_necessity['품목 이름'].str.contains('^' + item))
    choicelist.append(category)

df_necessity['업종'] = np.select(condlist, choicelist)

In [57]:
df_necessity['업종'].unique()

array(['청과상', '육류판매', '수산물판매'], dtype=object)

In [58]:
# 생필품 데이터에서 년도-분기 매칭 완료
condlist = []
choicelist = []

for year_month in df_necessity['년도-월'].unique():
    year, month = year_month.split('-')
    quarter = ''
    if month in {'01', '02', '03'}:
        quarter = '1분기'
    elif month in {'04', '05', '06'}:
        quarter = '2분기'
    elif month in {'07', '08', '09'}:
        quarter = '3분기'
    elif month in {'10', '11', '12'}:
        quarter = '4분기'
    condlist.append(df_necessity['년도-월'] == year_month)
    choicelist.append(year + '-' + quarter)

df_necessity['년도-분기'] = np.select(condlist, choicelist)

In [59]:
df_necessity['년도-분기'].unique()

array(['2020-4분기', '2020-3분기', '2020-2분기', '2020-1분기', '2019-4분기',
       '2019-3분기', '2019-2분기', '2019-1분기', '2018-4분기', '2018-3분기',
       '2018-2분기', '2018-1분기', '2017-4분기', '2017-3분기', '2017-2분기',
       '2017-1분기', '2016-4분기', '2016-3분기', '2016-2분기', '2016-1분기',
       '2015-4분기', '2015-3분기', '2015-2분기', '2015-1분기', '2014-4분기',
       '2014-3분기', '2014-2분기', '2014-1분기', '2013-4분기', '2013-3분기',
       '2013-2분기', '2013-1분기'], dtype=object)

In [60]:
# 매출 데이터에서 년도-분기 매칭 완료
condlist = []
choicelist = []
df_sales[['기준_년_코드', '기준_분기_코드']].drop_duplicates().values
for row in df_sales[['기준_년_코드', '기준_분기_코드']].drop_duplicates().values:
    year, quarter = row[0], row[1]
    condlist.append((df_sales['기준_년_코드']==year) & (df_sales['기준_분기_코드']==quarter))
    choicelist.append(str(year) + '-' + str(quarter) + '분기')
    
df_sales['년도-분기'] = np.select(condlist, choicelist)

In [61]:
df_sales['년도-분기'].unique()

array(['2019-1분기', '2019-2분기', '2019-3분기', '2019-4분기', '2018-1분기',
       '2018-2분기', '2018-3분기', '2018-4분기', '2017-1분기', '2017-2분기',
       '2017-3분기', '2017-4분기', '2016-1분기', '2016-2분기', '2016-3분기',
       '2016-4분기', '2015-1분기', '2015-2분기', '2015-3분기', '2015-4분기',
       '2014-1분기', '2014-2분기', '2014-3분기', '2014-4분기'], dtype=object)

### 생필품, 매출, 시장주소를 통일된 시장이름으로 join

In [62]:
df_necessity.head()

,일련번호,시장이름,품목 이름,실판매규격,가격(원),년도-월,비고,자치구,업종,년도-분기
0,1621162,통인시장,양파(1.5kg망),1kg,2000,2020-12,"국내산,무안",종로구,청과상,2020-4분기
1,1628949,방배종합시장,호박,1개268g,1500,2020-12,국내산/인큐베이터,서초구,청과상,2020-4분기
4,1622882,통인시장,양파(1.5kg망),1kg,2000,2020-12,"국내산,무안",종로구,청과상,2020-4분기
6,1622883,통인시장,상추(100g),400g,3000,2020-12,"국내산,적상추",종로구,청과상,2020-4분기
8,1622885,통인시장,호박(인큐베이터),1개,1000,2020-12,"국내산,",종로구,청과상,2020-4분기

In [63]:
df_sales.head()

,기준_년_코드,기준_분기_코드,시장이름,업종,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,...,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,년도-분기
2,2019,1,영도시장,섬유제품,4038928,33,100,0,49,0,...,17,0,0,0,17,0,0,0,2,2019-1분기
6,2019,1,암사종합시장,수산물판매,1712543938,108896,64,36,15,8,...,40273,68502,116,2309,12234,21650,33132,39332,9,2019-1분기
14,2019,1,서울약령시장,한의원,3329153658,38642,76,24,17,13,...,14251,24366,10,1441,3620,6465,7383,19683,82,2019-1분기
15,2019,1,경동시장,육류판매,4587060783,84286,65,35,8,14,...,31843,51739,30,1370,6433,11198,20193,44356,30,2019-1분기
28,2019,1,답십리시장,미용실,100328154,2550,67,33,9,3,...,1470,1080,50,483,623,596,604,194,9,2019-1분기

In [64]:
df_market_address.head()

   자치구            시장이름          주소명         위도          경도
0  은평구            갈현시장   갈현동 424-16  37.623587  126.917385
1  동작구            강남시장      상도동 488  37.518749  127.020640
2  강남구            강남시장    신사동510-11  37.496746  126.953488
3  강남구       강남역 지하도상가     역삼동821-1  37.498595  127.028026
4  서초구  강남터미널지하도상점가1구역  서초구 반포동 163  37.500478  126.986060

In [67]:
df_necessity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171039 entries, 0 to 97072
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   일련번호    171039 non-null  int64
 1   시장이름    171039 non-null  object
 2   품목 이름   171039 non-null  object
 3   실판매규격   171039 non-null  object
 4   가격(원)   171039 non-null  int64
 5   년도-월    171039 non-null  object
 6   비고      124320 non-null  object
 7   자치구     171039 non-null  object
 8   업종      171039 non-null  object
 9   년도-분기   171039 non-null  object
dtypes: int64(2), object(8)
memory usage: 14.4+ MB

In [68]:
df_market_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     330 non-null    object
 1   시장이름    330 non-null    object
 2   주소명     330 non-null    object
 3   위도      330 non-null    float64
 4   경도      330 non-null    float64
dtypes: float64(2), object(3)
memory usage: 13.0+ KB

In [73]:
df_necessity_market_address = df_necessity.merge(df_market_address, how='left', on=['시장이름'], suffixes=('_necessity', '_market_address'))

In [76]:
df_necessity_market_address[df_necessity_market_address['자치구_necessity']!=df_necessity_market_address['자치구_market_address']].dropna()

,일련번호,시장이름,품목 이름,실판매규격,가격(원),년도-월,비고,자치구_necessity,업종,년도-분기,자치구_market_address,주소명,위도,경도
561,1626844,대림시장,양파,1.5kg,3000,2020-12,무안,은평구,청과상,2020-4분기,영등포구,대림동963-5,37.491372,126.907663
849,1624958,우림시장,양파,1망(1.5kg),3000,2020-12,국내산,중랑구,청과상,2020-4분기,관악구,난곡동 637-1,37.470326,126.920401
851,1624956,우림시장,배추,1포기(2800g),2500,2020-12,국내산,중랑구,청과상,2020-4분기,관악구,난곡동 637-1,37.470326,126.920401
853,1624954,우림시장,사과,1봉(2100g),14000,2020-12,국내산 부사 8개입,중랑구,청과상,2020-4분기,관악구,난곡동 637-1,37.470326,126.920401
859,1626846,대림시장,오이,1개 (200g),800,2020-12,다다기 국내산,은평구,청과상,2020-4분기,영등포구,대림동963-5,37.491372,126.907663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174200,403051,대림시장,닭고기(육계),1마리(1.kg),5500,2013-01,하림,은평구,육류판매,2013-1분기,영등포구,대림동963-5,37.491372,126.907663
174202,403052,대림시장,달걀(왕란),10개,1833,2013-01,왕란 30개 5500원,은평구,육류판매,2013-1분기,영등포구,대림동963-5,37.491372,126.907663
174204,403053,대림시장,"조기(냉동,수입산)",1마리(23cm),3500,2013-01,부세,은평구,수산물판매,2013-1분기,영등포구,대림동963-5,37.491372,126.907663
174208,403055,대림시장,"오징어(생물,국산)",1마리(35cm),1500,2013-01,동해,은평구,수산물판매,2013-1분기,영등포구,대림동963-5,37.491372,126.907663
174210,403056,대림시장,"고등어(냉동,국산)",1마리(30cm),3000,2013-01,부산,은평구,수산물판매,2013-1분기,영등포구,대림동963-5,37.491372,126.907663

In [79]:
df_necessity_market_address[df_necessity_market_address['자치구_necessity']!=df_necessity_market_address['자치구_market_address']].dropna()[['시장이름', '주소명', '자치구_necessity', '자치구_market_address']].drop_duplicates()

        시장이름          주소명 자치구_necessity 자치구_market_address
561     대림시장     대림동963-5           은평구               영등포구
849     우림시장    난곡동 637-1           중랑구                관악구
147449  영동시장  자양동 246-111           강남구                광진구